In [1]:
"hello world"

'hello world'

In [2]:
import pandas as pd

In [3]:
df=pd.read_csv('../cases/cases.csv', sep=',')

In [6]:
df.columns

Index(['Id', 'CaseNumber', 'Age', 'Gender', 'District', 'DeathCause',
       'admitted_on', 'died_on', 'death_time', 'death_ampm', 'dd', 'mm',
       'yyyy', 'weekday', 'hour', 'minute', 'sample_taken_on', 'result_on',
       'brought_dead', 'home_death', 'comorbidity', 'diabetes', 'hypertension',
       'kidney', 'heart', 'RawContent'],
      dtype='object')

In [5]:
pd.cut(df.Age,bins=[0,2,17,65,99],labels=['Toddler/Baby','Child','Adult','Elderly'])

0           NaN
1           NaN
2           NaN
3           NaN
4           NaN
         ...
7317    Elderly
7318      Adult
7319      Adult
7320    Elderly
7321      Adult
Name: Age, Length: 7322, dtype: category
Categories (4, object): [Toddler/Baby < Child < Adult < Elderly]

In [9]:
df1 = df[['CaseNumber','Age', 'Gender','District']]

In [10]:
df1

      CaseNumber   Age  Gender         District
0              1   NaN     NaN              NaN
1              2   NaN     NaN              NaN
2              3   NaN     NaN              NaN
3              4   NaN     NaN              NaN
4              5   NaN     NaN              NaN
...          ...   ...     ...              ...
7317        7318  70.0  female          Vellore
7318        7319  60.0    male  Thiruvannamalai
7319        7320  56.0    male          Ranipet
7320        7321  76.0  female      Thiruvallur
7321        7322  65.0    male     Virudhunagar

[7322 rows x 4 columns]

In [11]:
df1.dtypes

CaseNumber      int64
Age           float64
Gender         object
District       object
dtype: object

In [14]:
df1["Age"] = df["Age"].astype(int64)

NameError: name 'int64' is not defined